
@media (max-width: 776px) {
    /* navbar overlay*/
    .navbar-overlay {
        flex-direction: column;
    }

    .nav-list {
        align-items: center;
    }

    .nav-item {
        text-align: center;
        font-size: 1.3rem;
    }

    .hr-factory-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* Hello World! Section */

    .section-header--title p{
        font-size: 1.2rem;
    }

    .section-header--title span{
        font-size: 1.4rem;
    }

    .section-header--icons div{
        width: 15px;
        height: 15px;
    }

    .iframe-wrapper iframe{
        border-width: 8px;
    }


    /* hello world! section */

    .milestones-wrapper{
        margin-bottom: 0;
    }
    .milestone-rates{
        font-size: 4rem;
    }

    .milestone-title{
        font-size: 1rem;
        margin-bottom: 20px;
    }

   

    /* Programs body */

    .programs-body{
        flex-direction: column;
    }

    .programs-body-right{
        justify-content: center;
    }

    /* Hire Talent  */

    .recruitment-wrapper--bottom-section{
        padding: 20px;
        flex-direction: column;
    }
    
      /* testimonials */
      .testimonial{
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .milestones-wrapper{
        width: 100%;
    }

    .milestone{
        width: 100%;
    }

    .milestones-left, .milestones-right{
        width: 100%;
    }
    .milestone-rates, .milestone-title-large{
        font-size: 2rem;
    }

    .milestone-title{
        font-size: .8rem;
        margin-bottom: 20px;
    }

     /* hiring portals */

     .hiring-portals{
        display: block;
    }
    
    /* programs section */
    .program-uix .programs-body {
        border-radius: 10px 0 10px 10px;
    }
    
  
}
