/* header */
header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 0 15%;
    z-index: 4;
}

.logo {
    width: 190px;
}

.logo img {
    width: 100%;
}

header button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
}

#menu-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 45px;
    height: 45px;
    background-color: var(--black);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: transform 0.1s ease-in;
    overflow-x: hidden;
}

#menu-toggler:active {
    transform: scale(0.9);
    border: 2px solid white;
}

#menu-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.menu-toggled span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggled span:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
}

.menu-toggled span:nth-child(2) {
    transform: translateX(-150%);
    opacity: 0;
}
/* navbar overlay */
.navbar-overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    padding: 0 15%;
    color: white;
    background-color: var(--overlay-black);
    transition: all 0.25s ease-in-out;
    backdrop-filter: blur(5px);
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-left-wrapper {
    margin-top: 100px;
    width: 50%;
    flex: 50%;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.nav-item {
    padding: 0;
    color: var(--grey);
    font-size: 1.5rem;
    text-transform: none;
}

.nav-item.active {
    color: var(--overlay-green);
}

.nav-item:hover {
    color: white;
}

.nav-right-wrapper {
    margin-top: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.account-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 365px;
    width: 450px;
    min-width: 300px;
    padding: 30px;
    background-color: var(--black);
    border-radius: 15px;
}

.account-wrapper-header h2 {
    font-size: 1.35rem;
    text-transform: none;
}

.account-wrapper-header p {
    margin-top: 20px;
    color: var(--grey);
    font-size: 0.85rem;
}

.account-wrapper-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.account-wrapper-buttons button {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.account-wrapper-buttons button:first-child {
    background-color: var(--overlay-green);
}

.hr-factory-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--hrf_primary);
    gap: 20px;
    width: 450px;
    padding: 20px;
    color: white;
    border-radius: 12px;
    min-width: 300px;
}

.hr-factory-wrapper img {
    height: 100px;
    width: 100px;
}

.hr-factory-desc {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100px;
}

.hr-factory-wrapper h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    text-transform: none;
}

.hr-factory-desc p {
    font-size: 0.75rem;
    text-transform: none;
    font-weight: normal;
    font-family: "Noto Sans", sans-serif;
}

/* hero section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    gap: 40px;
    text-align: right;
}

.hero-left {
    align-items: flex-end;
    padding-right: 50px;
    text-align: right;
    background-image: url("../assets/img-1.png");
}

.hero-right {
    align-items: flex-start;
    padding-left: 50px;
    text-align: left;
    background-image: url("../assets/img-2.png");
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-black);
    transition: all 0.25s ease-in-out;
    opacity: 0.9;
    z-index: 0;
}

.hero-header {
    display: flex;
    gap: 5px;
    flex-direction: column;
    z-index: 1;
}

.hero-left .hero-header {
    align-items: flex-end;
}

.hero-right .hero-header {
    align-items: flex-start;
}

.hero-eyebrow {
    display: inline;
    text-transform: uppercase;
    padding: 0 8px;
}

.hero-left .hero-eyebrow {
    color: white;
    background-color: var(--black);
}

.hero-right .hero-eyebrow {
    color: var(--black);
    background-color: white;
}

.hero-title {
    color: white;
}

.hero-desc {
    max-width: 550px;
    color: white;
    z-index: 1;
    transition: color 0.25s ease-in-out;
}

.link-button {
    margin-top: 10px;
    z-index: 1;
}

.hero-left .link-button {
    color: white;
    background-color: var(--black);
}

.hero-right .link-button {
    background-color: white;
    color: var(--black);
}

/* Hello World! Section */

#hello-world {
    background-color: var(--background);
    padding: var(--main-padding);
}

.iframe-wrapper {
    width: 100%;
}

.iframe-wrapper iframe {
    width: 100%;
    border: 15px solid var(--sef_primary);
    border-radius: 14px;
    aspect-ratio: 16/9;
}

/* Milestones Section */

#milestones {
    padding: var(--main-padding);
    min-height: 800px;
}

.milestones-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 50px;
    height: 100%;
    gap: 20px;
}

.milestones-left,
.milestones-right {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    min-height: 100%; /* Set the height to 100% */
    gap: 20px;
}

.milestone {
    flex: 1;
    width: 100%;
    padding: 38px;
    background-color: var(--background);
    border-radius: 18px;
    color: var(--black);
    min-height: 100%; /* Set the height to 100% */
}

.milestones-top-wrapper .milestone:nth-child(1) {
    flex: 1.5;
}

.milestone-rates {
    font-size: 8rem;
}

.milestone-title {
    font-size: 1.8rem;
    text-transform: lowercase;
}

.milestone-title-large {
    font-size: 4rem;
}

.milestone-desc ul li {
    font-family: "Noto Sans mono";
    font-size: 0.8rem;
}

.milestones-top-wrapper,
.milestones-bottom-wrapper {
    flex: 1;
    display: flex;
    gap: 20px;
}

/* Programs section */

.programs-section {
    padding: var(--main-padding);
    background: var(--ylw_primary);
    width: 100%;
    transition: all 0.25s ease-in-out;
}

.programs-main--header {
    display: flex;
    gap: 8px;
}

#programs-header .section-header--title p {
    background-color: var(--black);
    color: white;
}

#programs-main-wrapper {
    width: 100%;
}

.program-button {
    background-color: transparent;
    width: 130px;
    height: 56px;
    font-family: "Noto Sans mono";
    color: var(--black);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.active-button {
    background-color: var(--black);
}

.programs-body {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--black);
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
}

.programs-body-left {
    padding: 15px;
    flex: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programs-body-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.programs-body-right img {
    width: 90%;
    border-radius: 10px;
}
.program-title h1 {
    padding: 20px 0;
    font-size: 1.5rem;
    text-transform: none;
    color: white;
}

#program-desc-text {
    color: var(--light_grey);
    font-size: 0.9rem;
    width: 80%;
}

.program-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.bootcamp-date p,
.program-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 46px;
    color: white;
    background-color: var(--black-2);
    font-size: 0.9rem;
}

.bootcamp-date {
    flex: 1.5;
}
.program-footer button {
    justify-content: flex-end;
    border: none;
}

.program-footer button a {
    color: white;
}

.program-fcs .programs-body {
    border-radius: 0 10px 10px 10px;
}
.program-fcs .active-button,
.program-fcs #program-title-colored,
.program-fcs #bootcamp-date-text {
    color: var(--ylw_primary);
}

.program-fsw .active-button,
.program-fsw #program-title-colored,
.program-fsw #bootcamp-date-text {
    color: var(--overlay-green);
}

.program-fsd .active-button,
.program-fsd #program-title-colored,
.program-fsd #bootcamp-date-text {
    color: var(--ppl_primary);
}

.program-uix .active-button,
.program-uix #program-title-colored,
.program-uix #bootcamp-date-text {
    color: var(--pink_primary);
}

/* hiring portals */

.hiring-portals {
    padding: var(--main-padding);
    display: none;
}

.portals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.portal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 400px;
    padding: 10px;
    border: 12px solid;
    border-radius: 20px;
    overflow: hidden;
}

.portal-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/fsw.png");
    filter: brightness(0.2);
    background-size: cover;
    z-index: 0;
}

.portal-eyebrow,
.portal-footer {
    position: relative;
    z-index: 1;
}

.portal-title--desc {
    color: var(--grey);
    font-weight: bold;
}

.portal-title {
    font-size: 2rem;
}

.portal-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.field {
    border-radius: 4px;
    padding: 4px;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Noto Sans mono", sans-serif;
}

.portal-footer button {
    text-align: right;
    padding: 10px;
    background-color: var(--background);
    border: 1px solid var(--background);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.portal-footer button a {
    font-size: 1rem;
    font-weight: 800;
}

.portal-footer button:active {
    background-color: transparent;
}

.green-portal {
    border-color: var(--sef_primary);
}
.green-portal .portal-title {
    color: var(--sef_primary);
}

.green-portal .field {
    background-color: var(--sef_primary);
}

.green-portal .portal-footer button:active {
    border-color: var(--sef_primary);
}

.green-portal .portal-footer button:active a {
    color: var(--sef_primary);
}

.purple-portal {
    border-color: var(--ppl_primary);
}
.purple-portal .portal-title {
    color: var(--ppl_primary);
}

.purple-portal .field {
    background-color: var(--ppl_primary);
}

.purple-portal .portal-footer button:active {
    border-color: var(--ppl_primary);
}

.purple-portal .portal-footer button:active a {
    color: var(--ppl_primary);
}

.pink-portal {
    border-color: var(--pink_primary);
}
.pink-portal .portal-title {
    color: var(--pink_primary);
}

.pink-portal .field {
    background-color: var(--pink_primary);
}

.pink-portal .portal-footer button:active {
    border-color: var(--pink_primary);
}

.pink-portal .portal-footer button:active a {
    color: var(--pink_primary);
}

/* hire talent section */

#hire-talent {
    background-color: var(--black);
    padding: var(--main-padding);
}

.recruitment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.recruitment-wrapper--top-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 100%;
    color: white;
    background-color: var(--black-2);
    border-radius: 10px;
}

.recruitment-wrapper--top-section h2 {
    color: white;
    text-transform: none;
}

.recruitment-wrapper--top-section h3 {
    padding: 10px;
    width: 100%;
    max-width: 730px;
    color: white;
    background-color: var(--black);
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
}

.recruitment-wrapper--top-section h3 span {
    font-weight: bold;
}

.recruitment-wrapper--top-section ol {
    list-style: decimal inside;
    font-family: "Noto Sans Mono", sans-serif;
    font-size: 0.8rem;
    color: var(--light_grey);
}

.recruitment-wrapper--top-section button {
    padding: 10px;
    background-color: var(--black);
    border: none;
    text-align: right;
    margin-bottom: 30px;
}

.recruitment-wrapper--top-section button a {
    color: white;
}

.recruitment-wrapper--bottom-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    background-color: var(--black-2);
    border-radius: 10px;
    color: white;
}

.recruitment-wrapper--bottom-section p {
    font-size: 1rem;
    font-family: "Noto Sans";
}

.testimonials {
    position: relative;
    padding: var(--main-padding);
    border-radius: 10px;
}

.testimonials-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

.testimonials-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    display: flex;
    align-items: center;
    min-width: 100%;
    padding: 30px;
    background-color: var(--black);
    border-radius: 10px;
    color: white;
}

.testimonial--left {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    gap: 40px;
}

.testimonial--left-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial--left-header img {
    width: 60px;
}

.testimonial-desc {
    width: 90%;
    font-size: 0.9rem;
}

.testimonial--left-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial--left-footer img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.testimonial--left-footer * {
    font-size: 0.9rem;
}

.testimonial--right {
    flex: 1;
}
.testimonial--right img {
    width: 100%;
    border-radius: 10px;
}
.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 15px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/* faqs section */

#faqs {
    padding: var(--main-padding);
    background-color: var(--black);
}

.faqs-main-wrapper{
    display: flex;
    flex-direction: column;
}

.dropdown, .faqs-main-wrapper button {
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: var(--black-2);
    border-radius: 10px;
    cursor: pointer;
}

.dropdown h3 {
    font-size: .9rem;
    text-transform: none;
    color: white;
}

.dropdown-content {
    display: none;
    padding: 10px;
    border-top: none;
    transition: display 0.5s ease-in-out;
}

.dropdown-content p{
    font-size: .9rem;
    color: var(--grey)
}

    #faq3 div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

.dropdown-content.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.faqs-main-wrapper button{
    text-align: right;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Sans mono', sans-serif;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#newsletter{
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding);
    background-color: var(--black);
    padding-top: 50px;
}

#newsletter h2{
    color: white;
    text-transform: none;
}

#newsletter p{
    font-size: .8rem;
    color: var(--grey);
}

.newsletter-right{
    display: flex;
    align-items: stretch;
    height: 40px;
}

#newsletter input{
    padding: 10px;
    border: none;
    outline: none;
}

#newsletter input::placeholder{
    font-family: 'Noto San mono', sans-serif;
}

#newsletter button{
    padding: 0 20px;
    background-color: var(--black-2);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Noto Sans mono', sans-serif;
    text-transform: uppercase;
    border: none;
}