@media (max-width: 1000px) {
    /* header */
    header {
        padding: 0 8%;
        top: 40px;
    }
    /* hero */
    .hero-section {
        flex-direction: column;
        height: auto;
    }
    .hero {
        height: 100vh;
        width: 100%;
        background-position: top;
    }
    .hero-desc {
        width: 90%;
        max-width: max-content;
    }

    /* navbar overlay */

    .navbar-overlay {
        padding: 10%;
    }

    .nav-item {
        font-size: 1.3rem;
    }

    /* hello world! section */

    .milestones-wrapper {
        flex-direction: column;
    }

    /* programs section */
    
    .program-title h1{
        padding: 20px 0;
        font-size: 1.2rem;
        text-transform: none;
        color: white;
    }
    
    #program-desc-text{
        color: var(--light_grey);
        font-size: .8rem;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .program-footer{
        flex-direction: column;
    }

    
    .bootcamp-date, .program-footer button{
        width: 100%;
    }

    .bootcamp-date p{
        justify-content: flex-start;
        font-size: .7rem;
    }

    /* hire a talent */
    
    .recruitment-wrapper--top-section h3{
        font-size: .9rem;
    }
    .recruitment-wrapper--top-section h3 span{
        font-size: .9rem;
    }
    
}